{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}
{% block stylesheets %}
    {{ parent()  }}
{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <h1>Mon panier</h1>
    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.unitprice ~ '€' }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.unitprice * item.quantity ~ '€' }}</td>
                        <td>
                            <a href="{{ path('cart_remove', {'id': item.product.id }) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>  
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total : </td>
                    <td>{{ total ~ '€'}}</td>
                    {% if app.user %}
                        <td><a href="{{ path('choose_address') }}" class="btn btn-primary">Passer la commande</a> </td>
                    {% else %}
                        <td><a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a></td>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Votre panier est vide.</p>
    {% endif %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    
{% endblock %}

