{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <h1>Mon profil</h1>
    <div>
        <a href="{{ path('profil_infos') }}" class="btn btn-secondary">Mes informations</a>
    
        <a href="{{ path('profil_addresses') }}" class="class btn btn-secondary">Mes adresses</a>
    
        <a href="{{ path('profil_orders') }}" class="btn btn-secondary">Mes commandes</a>
        <a href="{{ path('account_delete', {'id': app.user.id }) }}" class="btn btn-danger">Supprimer mon compte</a>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}