<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
    </style>
</head>
<body>
    <section id="factureSection">
        <h1 class="h3 mb-3 font-weight-normal text-center">Votre commande a bien été effectuée</h1>
        <h2 class="h4 mb-3 font-weight-normal">Confirmation de la commande n° {{order.orderingReference}}</h2>
        <h2 class="h4 mb-3 font-weight-normal">Facture n° {{ order.facture.factureReference }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.productOrderings %}

                    <tr>
                        <td>{{ item.product.name ~ ' domaine ' ~ item.product.domain.name ~ ' ' ~ item.product.year }}</td>
                        <td>{{ item.product.unitprice|number_format(2,',') ~ '€' }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.unitprice * item.quantity ~ '€' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="text-right">Total : </td>
                    <td>{{ quantityTotal }}</td>
                    <td>{{ total ~ '€'}}</td>
                    
                </tr>
            </tfoot>
        </table>

        <div class="container-address">
            <div class="address">
                <h3>Adresse de livraison</h3>
                <p>Nom: {{ order.shipAddress.lastname }}</p>
                <p>Prénom: {{ order.shipAddress.firstname }}</p>
                <p>Ville: {{ order.shipAddress.city }}</p>
                <p>Code Postal: {{ order.shipAddress.zipcode }}</p>
                <p>Adresse: {{ order.shipAddress.address }}</p>
            </div>
            <div class="address">
                <h3>Adresse de facturation</h3>
                <p>Nom: {{ order.facture.lastname }}</p>
                <p>Prénom: {{ order.facture.firstname }}</p>
                <p>Ville: {{ order.facture.city }}</p>
                <p>Code Postal: {{ order.facture.zipcode }}</p>
                <p>Adresse: {{ order.facture.address }}</p>
            </div>          
        </div>
    </section>

</body>
</html>
