{% extends 'base.html.twig' %}

{% block title %}Commande effectuée{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <section id="factureSection" class="container">
        <h1 class="h3 mb-3 font-weight-normal text-center">Votre commande a bien été effectuée</h1>
        <h2 class="h4 mb-3 font-weight-normal">Confirmation de la commande n° {{order.orderingReference}}</h2>
        <h2 class="h4 mb-3 font-weight-normal">Facture n° {{ order.facture.factureReference }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.productOrderings %}
                {% set subtotal = item.product.unitprice * item.quantity %}
                    <tr>
                        <td>{{ item.product.name ~ " " ~ item.product.year ~" Domaine " ~ item.product.domain.name|title}}</td>
                        <td>{{ item.product.unitprice|number_format(2, ',') ~ '€' }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ subtotal|number_format(2, ',') ~ '€' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="text-right">Total : </td>
                    <td>{{ quantityTotal }}</td>
                    <td>{{ total|number_format(2, ',') ~ '€'}}</td>
                    
                </tr>
            </tfoot>
        </table>

        <div class="container-address">
            <div class="address">
                <h3>Adresse de livraison</h3>
                <p>Nom: {{ order.shipAddress.lastname }}</p>
                <p>Prénom: {{ order.shipAddress.firstname }}</p>
                <p>Ville: {{ order.shipAddress.city }}</p>
                <p>Code Postal: {{ order.shipAddress.zipcode }}</p>
                <p>Adresse: {{ order.shipAddress.address }}</p>
            </div>
            <div class="address">
                <h3>Adresse de facturation</h3>
                <p>Nom: {{ order.facture.lastname }}</p>
                <p>Prénom: {{ order.facture.firstname }}</p>
                <p>Ville: {{ order.facture.city }}</p>
                <p>Code Postal: {{ order.facture.zipcode }}</p>
                <p>Adresse: {{ order.facture.address }}</p>
            </div>          
        </div>
        <p>
            <a target="_blank" href="{{ path('dl_facture', {'id': order.id }) }}" class="btn btn-primary">Télécharger la facture</a>
        </p>
    </section>
{% endblock %}

