{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    {% block nav %}{{ parent() }}{% endblock %}
    <div class="row">
        <section class="col-md-2 filterSection">
            <h3>Filtre</h3>
            {{ form(formFilter) }}
            
            
        </section>
        <section class="col-md-10">
            <h3>Nos Vins</h3>

            <div class="row product-container">
                {% for product in products %}
                    <div class="col-md-4" >
                        <article>
                            <img src="{{ asset('img/' ~ product.photo )}}" alt="{{ 'Bouteille de ' ~ product.name }}" class="winePhoto">
                            <div>
                                <a href="{{ path('product_detail', {'id':product.id}) }}"><h2 class="productName">{{ product.name }}</h2></a>
                                <p>{{product.description }}</p>
                                <p>{{ product.unitprice ~ '€'}}</p>
                                
                                <form action="">
                                <div class="qteAdd">
                                    <input type="number" id="quantity" name="quantity" min="1" max="{{ product.unitstock }}" value="1">
                                    
                                
                                    <a href="{{ path('cart_add', {'id': product.id} ) }}" type="submit" class="btn btn-secondary cartAdd"><i class="fas fa-cart-plus"></i> Ajouter au panier</a>
                                </div></form>
                                {% if product.unitstock > 0 %}
                                    <p><i class="fas fa-check"></i> Disponible</p>
                                {% else %}
                                    <p><i class="fas fa-times"></i> Indisponible</p>
                                {% endif %}
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

    
    {% block footer %}{{ parent() }}{% endblock %}
{% endblock %}
{% block javascripts %}
<script>
// $('form').submit(function(e){
//     e.preventDefault();
//     $.ajax({
//         type: 'POST',
//         url: $(this).attr('action'),
//         data: $(this).serialize(),
//         success: function(data) {
//             console.log(data)
//         }


//     })
// })
</script>
{% endblock %}

