{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
        <section id="sectionFilters">
            <div class="dropdown show filterDropdown">
                <a href="#" class="btn btn-secondary dropdown-toggle filterButton" role="button" id="dropdownMenuLink" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filtrer par</a>
                <div class="dropdown-menu filterContainer" aria-labelledby="dropdownMenuLink">
                    {# {{ form(formFilter) }} #}
                    {{ form_start(formFilter)}}
                        <h4>Appellations</h4>
                        {{ form_row(formFilter.appellations) }}
                        <h4>Domaines</h4>
                        {{ form_row(formFilter.domains) }}
                        <h4>Types</h4>
                        {{ form_row(formFilter.types) }}
                        <h4>Prix</h4>
                        <div>
                            {{ form_row(formFilter.min)}}
                            {{ form_row(formFilter.max)}}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Filtrer</button>
                    {{ form_end(formFilter) }}
                </div>
            </div>
            <div class="dropdown show sortedDropdown">
            {{ knp_pagination_sortable(products, 'Prix', 'p.unitPrice', {}, {}, '@KnpPaginator/Pagination/twitter_bootstrap_v4_font_awesome_sortable_link.html.twig')  }}
            
            {# <a href="#" class="btn btn-secondary dropdown-toggle sortedButton" role="button" id="dropdownMenuLink" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trier par</a>
                <div class="dropdown-menu sortedContainer" aria-labelledby="dropdownMenuLink">
                    <a href="{{ path('products_index', {sortBy : 'unitPrice', order : 'ASC'}) }}" class="btn">du - cher au + cher</a>
                    <a href="{{ path('products_index', {sortBy : 'unitPrice', order : 'DESC'}) }}" class="btn">du + cher au - cher</a>
                    <a href="{{ path('products_index', {sortBy : 'name', order : 'ASC'}) }}" class="btn">ordre alphabétique</a>
                </div> #}
            </div>
        </section>
        <section id="sectionProducts">
            <div id="productHeader">
                <h3>Nos Vins </h3>
                <p>{{ products|length }} articles</p>
            </div>
            {% if products|length > 0 %}
                {% for product in products %}
                    <article>
                        <img src="{{ ('img/' ~ product.photo )}}" alt="{{ 'Bouteille de ' ~ product.name }}" class="winePhoto">
                        <div>
                            <h2 class="productName">{{ product.name ~ " " ~ product.year}}</h2>
                            <p>Domaine {{ product.domain }}</p>
                            <p>{{product.description }}</p>
                            <div class="priceAndAvailableProduct">
                                <p>{{ product.unitprice ~ '€'}}</p>
                                {% if product.unitstock > 0 %}
                                    <p><i class="fas fa-check greenColor"></i> Disponible</p>
                                {% else %}
                                    <p><i class="fas fa-times redColor"></i> Indisponible</p>
                                {% endif %}
                            </div>
                            {% if product.unitstock > 0 %}
                            <form method="post" action="{{ path('cart_add', {'id': product.id} ) }}">
                                <div class="qteAdd">
                                    <input type="number" id="quantity" name="quantity" min="1" max="{{ product.unitstock }}" value="1">
                                    <button type="submit" class="btn btn-secondary cartAdd"><i class="fas fa-cart-plus"></i> Ajouter au panier</button>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
                <div id="productFooter" >
                    {{ knp_pagination_render(products, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig' )}}
                </div>
            {% else %}
                <div>
                    <p>Aucun article ne correspond à votre recherche.</p>
                </div>
            {% endif %}
        </section>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
{% block javascripts %}
    <script>
    // $('.dropdown-toggle').dropdown()
    // document.getElementById('filter_submit').addEventListener("click", function(e){
    //     e.preventDefault()
    //     let filtres = document.getElementsByClassName('form-check-input')
    //     let type = document.getElementById('filter_types_1')
    //     let labels = []
    //     for(var i = 0; i < filtres.length; i++){
    //         if(filtres[i].checked){
    //             labels.push(filtres[i].nextElementSibling.innerText)
    //         }
    //     }
    //     let label = type.nextElementSibling
    //     console.log(labels)
        
    // })

    

    
    </script>
{% endblock %}

