{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
    {% endblock %}
    <div class="container">
        <section id="sectionInfos">
            <h1 class="h3 mb-3 font-weight-normal text-center">Informations personnelles</h1>
            {{ form(formUserEmail) }}
            <section id="sectionAddresses">
                <h2 class="h4 mb-3 font-weight-normal text-center">Carnet d'adresses</h2>
                <div class="adressesContainer">
                    {% if addresses|length > 0 %}
                        {% for address in addresses %}
                            <div class="addressContainer">
                                <p>{{ address.lastname|capitalize ~ " " ~ address.firstname|capitalize }}<br>
                                    {{ address.address|title }}<br>
                                    {{  address.zipCode ~ " " ~ address.city|capitalize }}
                                </p>
                                {% if address.Orderings|length < 1 %}
                                    <a href="{{ path('address_edit', {'id': address.id }) }}" class="btn btn-primary">Modifier </a>
                                    <a href="{{ path('address_delete', {'id': address.id }) }}" class="btn btn-danger">Supprimer</a>
                                {% endif %}    
                            </div>
                        {% endfor %}    
                    {% else %}
                        <p>Vous n'avez aucune adresse enregistrée.</p>
                    {% endif %}
                </div>
                <a href="{{ path('address_add') }}" class="btn btn-primary">Ajouter une adresse</a>
            </section>
            <section id="sectionPassword">
                <h2 class="h4 mb-3 font-weight-normal text-center">Changer de mot de passe</h2>
                {{ form(formUserPassword) }}
            </section>
            <section>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModalCenter">
                Supprimer votre compte
                </button>

                <div class="modal fade" id="confirmModalCenter" tabindex="-1" role="dialog" aria-labelledby="confirmModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmModalLongTitle">Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer votre compte?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                            <a href="{{ path('account_delete', {'id': app.user.id }) }}" class="btn btn-danger">Supprimer votre compte</a>
                        </div>
                        </div>
                    </div>
                </div>

            </section>
        </section>
    </div>

{% endblock %}